<div class="m-4">
    <div>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Domain Name</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let entry of domainStatusMap | keyvalue">
                    <ng-container *ngIf="entry.value === 'available'">
                        <td>{{ entry.key }}</td>
                        <td>{{ entry.value }}</td>
                    </ng-container>
                </tr>
            </tbody>
        </table>
    </div>
</div>
